<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDBE4nq0ZfJUpxNwiISAXVwIvLN_AnPNg</string>
	<key>GCM_SENDER_ID</key>
	<string>489622145041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sy.caphore</string>
	<key>PROJECT_ID</key>
	<string>caphore-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>caphore-mall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489622145041:ios:8ad3d316fc9da0a9de49b0</string>
</dict>
</plist>